.Services
  display: flex
  flex-direction: column
  justify-content: space-evenly
  &__title
    color: #000
    font-style: italic
    width: 90%
    margin: 3.5rem auto 2rem
  &__cardsContainer
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    width: 90%
    margin: 0 auto