@import "../../sass/main.sass"

.About
  margin: 50px 0
  background-color: $primary-green
  display: flex
  flex-direction: column
  justify-content: space-between
  &__title
    font-style: italic
    width: 90%
    margin: 3.5rem auto 2rem
  &__bioBlock
    width: 90%
    margin: 0 auto
    display: flex
    flex-direction: column-reverse
    justify-content: space-evenly
    align-items: center
    margin-bottom: 2rem
  &__paragraphBlock
    width: 100%
    margin-top: 2rem
  &__paragraphBlock > p
    color: #fff
    margin-bottom: 1rem
    line-height: 1.4
  &__benefits
    color: #fff
    padding-left: 3.0rem
    margin-bottom: 1.4rem
  &__benefit
    list-style-type: disc
    margin-bottom: 1rem
  &__imgContainer
    width: 100%
  &__img
    width: 100%
    border-radius: 10px
  &__subTitle
    font-style: italic
    width: 90%
    margin: 3.5rem auto 2rem
  &__videoContainer
    width: 90%
    margin: 1.5rem auto
    max-width: 910px
  &__video
    width: 100%

  @media ( min-width:  768px)
    &__bioBlock
      flex-direction: row
      justify-content: space-between
    &__paragraphBlock
      width: 47%
    &__paragraphBlock > p, &__benefit
      font-size: 1.8rem
    &__imgContainer
      width: 47%
      display: flex
      justify-content: flex-end
    &__img
      max-width: 500px
      max-height: 500px
  @media ( min-width: $large)
    &__paragraphBlock > p, &__benefit
      font-size: 2rem
    