.Card
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin: 1rem 0
  &__img
    height: 150px
  &__content
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  &__heading
    color: #000
    padding: 1.5rem 0
  &__body
    width: 90%
    text-align: center
