@import "../../sass/main.sass"

.Contact
  background: $primary-green
  display: flex
  flex-direction: column
  justify-content: space-evenly
  &__title
    font-style: italic
    width: 90%
    margin: 3.5rem auto 0