@import "../../sass/main.sass"

.Form
  display: flex
  flex-direction: column
  row-gap: 1rem
  width: 90%
  margin: 2rem auto 0

  &__firstName label, &__lastName label, &__emailAddress label, &__messageField label
    font-size: 2rem
    color: #ffffff
    margin-bottom: 1rem
    font-weight: 500

  &__firstName input, &__lastName input, &__emailAddress input
    height: 40px
    background: transparent
    border: 3px solid #ffffff
    border-radius: 6px
    padding-left: 1rem
    margin-bottom: 1rem
    color: #ffffff
    outline: none

  &__messageField textarea
    padding-left: 1rem
    padding-top: 1rem
    height: 225px
    background: transparent
    border: 3px solid #ffffff
    border-radius: 6px
    color: #ffffff
    outline: none

  &__firstName input::placeholder, &__lastName input::placeholder, &__emailAddress input::placeholder
    color: #ffffff

  &__firstName, &__lastName, &__emailAddress, &__messageField
    display: flex
    flex-direction: column
    justify-content: space-evenly

  &__button
    cursor: pointer
    height: 50px
    background: transparent
    border: 3px solid #ffffff
    margin: 2rem 0
    border-radius: 6px
    @include font-canada-type-gibson($size: 1.6rem, $color: #fff, $weight: 500)
  &__error
    color: #ff0000
    margin: 1rem 0
  @media ( min-width:  768px)
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    &__inputs
      flex-basis: 45%
    &__messageField
      flex-basis: 45%
      align-self: flex-start
    &__button
      flex-basis: 45%
      margin: 2rem auto
