@import "../../sass/main.sass"
.Header
  height: 100vh
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
  column-gap: 10px
  grid-template-rows: 20vh 30vh 35vh 10vh

  &__background
    background:  $primary-green
    grid-column: 1 / -1
    grid-row: 1/ 4
  &__content
    display: flex
    flex-direction: column
    text-align: center
    justify-self: center
    align-self: center
    grid-row: 2 / 3
    grid-column: 1 / -1
  &__btnGroup
    display: flex
    justify-content: space-evenly
  &__btn
    border: 3px solid $accent-orange
    border-radius: 5px
    background: transparent
    margin: 10px
    cursor: pointer
    flex-basis: 45%
    height: 50px
  &__btn a
    color: #ffffff
  &__btn--attn
    background: $accent-orange
  &__span
    position: relative
    padding-bottom: 0.5rem
    &::after
      content: ""
      position: absolute
      bottom: 14%
      left: 0%
      right: 0%
      height: 0.5rem
      border-radius: 5px
      background-color: $accent-orange

  &__heading
    font-size: calc(100% + 90%)
  &__info
    color: #fff 
    padding: 2rem 0 1.5rem
  &__imgContainer
    height: 100%
    width: 100%
    grid-column: 1 / -1
    grid-row: 3 / 5
    display: flex
    justify-content: center
  &__img
    height: 100%
  @media ( min-width:  768px)
    &__btn, &__info
      font-size: 2rem
    &__heading
      font-size: 4.8rem
    