.Work
  &__container
    width: 90%
    margin: 0 auto
  &__title
    color: #000
    font-style: italic
    width: 90%
    margin: 3.5rem auto 2rem
  &__videoContainer
    width: 90vw
    height: 102vw
    margin: 1.5rem 0
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: space-between

    @media ( min-width:  768px)
      flex-direction: row
      flex-wrap: nowrap
      height: auto
  &__video
    width: 90vw
    height: calc(90vw / 1.8)
    @media ( min-width:  768px)
      width: 44vw
      height: calc(44vw / 1.8)
